<h1>New Person</h1>
<form action="/people" , method="post">
  <input type="hidden" name="authenticity_token" value="l8C45sK7PbUoYUuySWb2JbByRVZ3TecLaNEYuEgJ4VmkrOxvZ3X5n/JiqaOn8XA49ZtozVYjJIKcmBCrRHMgaw==">
  Name:
  <br>
  <input name=person[name] value =""></input>
  <br>
  Age:
  <br>
  <input name=person[age] value =""></input>
  <br>
  <input type="submit" value="submit">
</form>
